<%- model_class = Post -%>
<div class="page-header">
  <!-- <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => model_class.model_name.human.titleize %></h1> -->
  <h1>新しい記事を投稿する</h1>
</div>
<%= render :partial => 'form' %>
