<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "ブログのブログ" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-144x144-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>
  </head>
  <body>

    <div class="navbar navbar-default navbar-static-top">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Home</a>
        <div class="navbar-collapse collapse navbar-responsive-collapse">
          <ul class="nav navbar-nav">
            <li><%= link_to "投稿", "/posts/new"  %></li>
            <li><%= link_to "記事一覧", "/posts"  %></li>
            <li>
            	<% if current_user %>
            		<%= link_to 'ログアウト', logout_path %>
            	<% else %>
					<%= link_to "Twitterからログイン", "/auth/twitter" %>
				<% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
	
	<% if current_user %>
	    <div class="container">
	      <div class="row">
	        <div class="col-lg-9">
	          <%= bootstrap_flash %>
	          <%= yield %>
	        </div>
	        <div class="col-lg-3">
	          <div class="well sidebar-nav">
	            <h3>Menu</h3>
	            <ul class="nav nav-list">
	              <li><%= link_to "新しい記事を投稿する", "/posts/new"  %></li>
	              <li><%= link_to "記事一覧を閲覧する", "/posts"  %></li>
	            </ul>
	          </div><!--/.well -->
	        </div><!--/span-->
	      </div><!--/row-->
	<% else %>
		<div class="container">
		      <div class="row">
		        <div class="col-lg-9">
		          <%= bootstrap_flash %>
		          <%= yield %>
		        </div>
		      	<div class="col-lg-3">
	          		<div class="well sidebar-nav">
						<h2>ブログをはじめませんか？</h2>
						<h3><%= link_to "はじめるならここから", "/auth/twitter" %></h3>
						<p>※当ブログを使用するに当たり、Twitterアカウントが必要となります.</p>
					</div>
				</div>
			</div>
		</div>
	<% end %>

		<div class="navbar navbar-default navbar-fixed-bottom">
      		<footer>
      		  <p>&copy; TakashiMiki 2014</p>
     		 </footer>
     	</div>

    </div> <!-- /container -->

  </body>
</html>
